body{
    background-image: url("../images/bigmap.png");
    background-position: center;
   
}
h1,p,div{
    font-family: 'Shadows Into Light', cursive;
    }
#num_wins, #num_guesses, #word_to_guess, div#country_to_guess, div#guessed_letters{
    font-family: 'Permanent Marker', cursive;
    

}

h1{
    text-align: center;
    color: green;
}

p,div{
    text-align: center;
    font-size: x-large;
    color:black;

}

div#num_wins, div#country_to_guess{
    font-size: xx-large;
    color: green;
}

div#num_guesses, div#guessed_letters{
    font-size: xx-large;
    color: blue;
    
}

img#flag{
    width:200px;
}
p#shadow{
font:bolder;

}